@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

html {
    font-size: 16px;
    text-align: center;
}

#main {
    margin: 30px 10px;
    background-color: #eee;
    border-radius: 10px;
    padding: 5px;
}

.head {
    padding: 20px 0;
}

#image {
    max-width: 100%;
    display: block;
    height: 500px;
    margin: 0 auto;
}

#img-caption {
    padding: 15px 0;
    font-size: 1.2rem;
}

.intro {
    padding: 10px 30px;
    text-align: justify;
}

ul {
    max-width: 750px;
    margin: 0 auto 25px auto;
    line-height: 1.6rem;
    text-align: left;
    height: auto;
    padding: 0 30px;
}

ul li {
    text-align: justify;
}


.quote {
    padding: 0 30px;
    margin: 0 auto;
    width: 70%;
    text-align: justify;
}

#auth {
    margin-left: 350px;
    display: block;
    padding-top: 10px;
    font-weight: bold;
}

#tribute-link {
    text-decoration: none;
    color: teal;
}

.last {
    margin: 20px auto;
    font-size: 1.5rem;
    text-align: center;
}